# 🌍 ENVIRONMENT
# qa | prod | dev
APP_ENV=
### 🌐 WEB APP CONFIGURATION ###
# 🔗 WEB APP URL
WEB_APP_URL=
# 🔐 WEB APP LOGIN CREDENTIALS (CREATE YOUR OWN CREDENTIALS)
APP_EMAIL=
APP_PASSWORD=
# 🛒 PRODUCT DETAILS
PRODUCT_NAME=
PRODUCT_QUANTITY=
TOTAL_PRICE=
### 🔌 API CONFIGURATION ###
# 🔗 API BASE URL
API_BASE_URL=
# 👤 API USER DETAILS
USERNAME=
PASSWORD=
USER_ID=
# 🛍️ API PRODUCT DETAILS
PRODUCT_ID=
CART_ID=
LIMIT=
# 📅 DATE RANGE
START_DATE=
END_DATE=
# 🔑 BASIC AUTHENTICATION CREDENTIALS (IF REQUIRED)
#BASIC_AUTH_USERNAME=
#BASIC_AUTH_PASSWORD=
# 🔐 API KEY (IF REQUIRED)
#API_KEY=
# 🎟️ ACCESS TOKEN (IF REQUIRED)
#ACCESS_TOKEN=
# 🔄 OAUTH2 CONFIGURATION (IF REQUIRED)
#CLIENT_ID=
#CLIENT_SECRET=
#AUTHORIZATION_CODE=
#TOKEN_URL=
### 🗄️ DATABASE CONFIGURATION ###
# 🖥️ DATABASE CONNECTION
DB_HOST=
DB_USER=
DB_PASSWORD=
DB_NAME=
DB_PORT=
# 👨‍💼 ADMIN APP LOGIN CREDENTIALS
ADMIN_USERNAME=
ADMIN_PASSWORD=
