{
"compilerOptions": {
"target": "ES2022",
"module": "Node16",
"lib": ["ES2022", "DOM"],
"moduleResolution": "node16",
"types": ["node"],
"strict": true,
"esModuleInterop": true,
"skipLibCheck": true,
"forceConsistentCasingInFileNames": true,
"resolveJsonModule": true,
"isolatedModules": false,
"outDir": "dist",
"ignoreDeprecations": "6.0"
},
"include": ["playwright.config.ts"],
"exclude": ["node_modules"]
}
